---
name: Release
on:
  workflow_run:
    types:
      - completed
    workflows:
      - "ci"
    branches:
      - release/*
jobs:
  print-debug-info:
    name: Print debug info for Release workflow
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/debug-action@v2

  get-tag:
    name: Get tag
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    outputs:
      tag: ${{ steps.get-tag-step.outputs.tag }}
    steps:
      - name: Get tag
        run: |
          branch=${{github.event.workflow_run.head_branch}}
          echo tag=${branch#release/} >> $GITHUB_OUTPUT
        id: get-tag-step

  create-release:
    name: Create release
    needs: get-tag
    uses: networkservicemesh/.github/.github/workflows/release.yaml@main
    secrets:
      token: ${{ secrets.NSM_BOT_GITHUB_TOKEN }}

  release-dependent-repositories:
    name: Release dependent repositories
    needs: [get-tag, create-release]
    uses: networkservicemesh/.github/.github/workflows/release-dependent-repositories.yaml@main
    with:
      tag: ${{ needs.get-tag.outputs.tag }}
      dependent_repositories: |
        ["cmd-forwarder-vpp",
        "cmd-nsc-vpp",
        "cmd-nse-icmp-responder-vpp",
        "cmd-nse-vlan-vpp",
        "cmd-nse-firewall-vpp",
        "cmd-nse-vl3-vpp",
        "cmd-nse-simple-vl3-docker",
        "cmd-nsc-simple-docker",
        "cmd-lb-vl3-vpp"]
    secrets:
      token: ${{ secrets.NSM_BOT_GITHUB_TOKEN }}
