---
name: Update dependent repositories
on:
  push:
    branches:
      - main
jobs:
  release:
    uses: networkservicemesh/.github/.github/workflows/update-dependent-repositories-gomod.yaml@main
    with:
      dependent_repositories: |
        ["cmd-forwarder-vpp",
        "cmd-nsc-vpp",
        "cmd-nse-icmp-responder-vpp",
        "cmd-nse-vlan-vpp",
        "cmd-nse-firewall-vpp",
        "cmd-nse-vl3-vpp",
        "cmd-nse-simple-vl3-docker",
        "cmd-nsc-simple-docker",
        "cmd-lb-vl3-vpp"]
    secrets:
      token: ${{ secrets.NSM_BOT_GITHUB_TOKEN }}
